h1{
    color: blue;
    text-align: center;
}

.First{
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}
.Second{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}
.Third{
    background-color: brown;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 520px;
}
img{
    position: relative;
}
p{
    display: inline-block;
    background-color: red;
    width: 200px;
}
span{
    display: inline-block;
    background-color: blue;
    width: 200px;
}